@keyframes animate-action-player {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-30px) translateY(10px) rotate(10deg);
  }
  50% {
    transform: translateX(50px) rotate(5deg);
  }
  66% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes animate-action-monster {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(30px) translateY(-10px) rotate(-10deg);
  }
  50% {
    transform: translateX(-50px) rotate(-5deg);
  }
  66% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes animate-wild-monster-apparation {
  0%,
  100% {
    transform: translateX(0px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px) rotate(-5deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px) rotate(5deg);
  }
}

.--flex-column {
  flex-direction: column;
  gap: 0;
}

.--flex-row-reverse {
  flex-direction: row-reverse;
}

.combat-panel {
  align-self: center;

  .combat-board {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .ennemy-board,
  .player-board {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .enemy-monster-hp-name,
  .player-monster-hp-name {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .enemy-monster-hp-bar,
  .player-monster-hp-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: green;
    border-radius: 14px;
    height: 20px;
  }
}

.player-animation {
  animation: animate-action-player 1s ease-in;
}

.monster-animation {
  animation: animate-action-monster 1s ease-in;
}

.monster-apparation {
  animation: animate-wild-monster-apparation 2s ease-in;
}

.combat-log {
  .combat-log-information {
    display: flex;
    flex-direction: column;
    height: 200px;
    border: 6px dashed rgb(119, 100, 100);
    padding: 10px;
    margin: 5px 20px 0 20px;
    background: whitesmoke;
    color: black;
    border-radius: 50px;
  }
}
