@keyframes button-apparition1 {
  0% {
    opacity: 0;
    transform: translateX(-300px) scale(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes button-apparition2 {
  0% {
    opacity: 0;
    transform: translateX(300px) scale(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.-button-apparition1 {
  animation: button-apparition1 1s ease forwards;
}

.-button-apparition2 {
  animation: button-apparition2 1s ease forwards;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .start-continue-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
  }
}
.main-menu-button {
  font-size: 4rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 25px;

  &:hover {
    background-color: rgb(177, 60, 132);
    border-radius: 50px;
    cursor: pointer;
  }
}
