main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .start-continue-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
  }
}
.main-menu-button {
  font-size: 4rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 25px;

  &:hover {
    transform: scale(1.1);
    background-color: rgb(177, 60, 132);
    border-radius: 50px;
  }
}
