@keyframes show-error-message {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  50% {
    opacity: 1;
  }
}

.main-menu {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 4px;

  &-container {
    display: flex;
    margin-top: -57px;
  }

  .mission-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;

    .information-message {
      display: flex;
      justify-content: center;
      background: #99000e;
      height: 22px;
      opacity: 0;
      z-index: 1;
      border-radius: 10px;
    }

    .information-message-animation {
      animation: show-error-message 3s ease backwards;
    }

    .mission-button-container {
      display: flex;
      justify-content: center;
      align-self: center;
      gap: 20px;
      background: #99000e;
      padding: 10px;
      border-radius: 15px;
      -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 0, 0, 0.5);
      box-shadow: 0px 0px 15px 10px rgba(255, 0, 0, 0.5);
      z-index: 1;
      width: 400px;
    }
  }

  .player-box,
  .player-monsters-equip,
  .player-inventory {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    border-radius: 25px;
    margin-left: 4px;
    margin-right: 20px;
  }

  .player-monsters-equip {
    height: fit-content;
  }

  .box-container-global {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .menu-button {
      width: 10%;
      margin-left: 10px;
    }

    .button-change-view {
      display: flex;
      justify-content: center;
      width: 230px;
    }

    .box-container {
      display: flex;
      .player-box,
      .player-monsters-equip {
        flex-wrap: wrap;
        width: 50%;
        padding: 2px;
      }
    }
  }

  .player-inventory {
    width: 30%;
    padding: 12px;
    font-size: 14px;
    flex-wrap: nowrap;
    gap: 5px;
  }

  .misc-button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
  }
}
