@keyframes new-animation {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-20deg) scale(1.1);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(20deg) scale(1.1);
  }
}

@keyframes foil {
  0% {
    background-position: 84% 0;
  }
  50% {
    background-position: 17% 100%;
  }
  100% {
    background-position: 84% 0;
  }
}

.foil-effect {
  background: radial-gradient(
    circle,
    rgba(179, 164, 164, 0.32) 1%,
    rgba(102, 100, 100, 0.11) 3%,
    rgba(115, 99, 99, 0.16) 35%,
    rgba(145, 142, 142, 0.4) 55%
  );
  background-size: 150% 150%;

  animation: foil 8s ease infinite;
}

.monster-container {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 6px;
  width: 350px;
  height: 320px;
  text-align: center;

  .monster-new {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 36px;
    width: 36px;
    background-color: green;
    right: 5%;
    top: 0;
    border-radius: 18px;
  }

  .new-animation {
    animation: new-animation 3s linear infinite;
  }

  h3 {
    margin: 0;
    font-size: 14px;
    color: #dfd4d4;
    font-weight: bold;
    font-size: 20px;
  }

  .monster-icon {
    width: 200px;
    height: 120px;
    border-radius: 4px;
    object-fit: contain;
  }

  .description {
    color: #dfd4d4;
    font-style: italic;
    margin: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 4px;

    p {
      margin: 0;
      font-weight: bold;
    }
  }

  .stats {
    margin: 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 12px;

    p {
      margin: 4px 0;
    }
  }

  .capacity,
  .traits {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    gap: 4px;

    p {
      display: flex;
      border: 2px solid #c60404;
      border-radius: 6px;
      margin: 4px 0;
      color: #75ecff;
      background: black;
      padding: 4px;
      width: 20%;
      height: 12px;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
    }
    :hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    top: 1%;
    padding: 6px;
    gap: 5px;
  }

  .type-icon {
    width: 36px;
    height: 36px;
    object-fit: contain;
    position: absolute;
    left: 3%;
    top: 27%;
  }

  .monster-name-id {
    .monster-id {
      position: absolute;
    }
    .monster-container-name {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .tooltip-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: black;
    border: 1px solid red;
    padding: 4px;
    z-index: 9999;
    top: 50px;
    left: 100px;
  }
  .tooltip-container-light {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: black;
    border: 1px solid red;
    padding: 4px;
    z-index: 9999;
    bottom: 100px;
    left: 100px;
  }
}
