@keyframes header-apparition {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes h1-movement {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes currency-movement {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header-animation {
  animation: header-apparition 1s ease forwards;
}

.h1-movement {
  animation: h1-movement 1s ease;
}

.currency-movement {
  animation: currency-movement 1s ease;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 15px;
  text-align: center;

  .currency-container {
    display: flex;
    gap: 20px;

    .currency-item {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 22px;
    }
  }

  h1 {
    display: flex;
    align-self: center;
    margin: 0;
    font-size: 1.5rem;
    justify-content: flex-end;
    width: 57%;
  }

  .menu {
    display: flex;
    position: relative;
    width: 17%;

    .navbar {
      display: flex;
      gap: 10px;

      .option-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        padding: 2px;
        transition: all 0.3s;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          transform: scale(1.1);
          background-color: rgb(177, 60, 132);
        }
      }

      button {
        color: #fff;
        background: black;
        text-decoration: none;
        text-align: center;
        margin: 0 10px;
        font-size: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }

      .option-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: -2px;
        top: 50px;
        background: green;
        padding: 16px;
      }
    }
  }
}
