.player-box {
  border: 2px solid blue;
  border-radius: 50px;
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;

  h3 {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .stocked-monsters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 90em;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  .filter-button {
    display: flex;
  }
}
