h3 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.stocked-monsters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
}

.filter-button {
  display: flex;
}
