footer {
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  margin: 0;

  .contributor {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;

    a {
      display: flex;
      color: #7b97c4;
      text-decoration: underline;
      align-self: flex-start;
    }
  }
}
