.capacity-selection-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.selected-capacity-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

.selection-button-capacity {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  padding: 10px;
  &:hover {
    transform: scale(1.1);
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
  }
}
.capacity-selected-info {
  border: 2px solid white;
  padding: 5px;
  h2 {
    display: flex;
    justify-content: center;
  }
  .damage-info {
    display: flex;
    gap: 40px;
  }
}

.element-details {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 20px;
}
