.monster-container {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 6px;
  width: 280px;
  height: 280px;
  text-align: center;
  background-color: #332b2b;

  h3 {
    margin: 0;
    font-size: 14px;
    color: #dfd4d4;
    font-weight: bold;
  }

  .monster-icon {
    width: 100px;
    height: 80px;
    border-radius: 4px;
    object-fit: contain;
  }

  .description {
    color: #dfd4d4;
    font-style: italic;
    margin: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 4px;

    p {
      margin: 0;
      font-weight: bold;
    }
  }

  .stats {
    margin: 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 12px;

    p {
      margin: 4px 0;
    }
  }

  .capacity,
  .traits {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    gap: 4px;

    p {
      display: flex;
      justify-content: center;
      border: 1px solid #a45353;
      padding: 2px;
      border-radius: 10px;
      margin: 4px 0;
      color: #8ac2ff;
    }
    :hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    top: 1%;
    padding: 6px;
    gap: 5px;
  }

  .type-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  .monster-name-id {
    .monster-id {
      position: absolute;
    }
    .monster-container-name {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .clicked-item {
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 74%;
    background: black;
    color: white;
    border: 1px solid white;
    padding: 5px;
    opacity: 0.85;
    left: 14px;
    gap: 20px;

    .close-button-tooltip {
      border: 1px solid white;
      width: 16px;
      height: 16px;
      padding: 3px;
      cursor: pointer;
    }
  }
}
